{% extends "base.html" %}

{% block title %}
    Expense Category
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Expense Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in expense_categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
